@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2 satır */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* 4 satır gibi davran */
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 80px; /* 4 satıra denk gelen yükseklik */
}